<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cookie Jar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/vis.css">
        <link rel="stylesheet" href="/css/d3.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Cookie Jar</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logged in as <span class="email">rbhang@gmail.com</span></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="sidebar">
            <div class="ico-fa">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
            </div>
            <div class="ico-fa">
                <a href="#"><i class="fa fa-asterisk" aria-hidden="true"></i></a>
            </div>
            <div class="ico-fa">
                <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
            </div>
            <div class="ico-fa">
                <a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i></a>
            </div>
            <div class="ico-fa">
                <a href="#"><i class="fa fa-feed" aria-hidden="true"></i></a>
            </div>
            <div class="ico-fa">
                <a href="#"><i class="fa fa-code-fork" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="main">
        <!--<div class="main-container">
            
        </div>-->
        <div class="top-wrapper">
            <div class="price-tick-wrapper">
                <h2 id="price-ticker">$0.00</h2>
                <h5 id="sub-price-ticker">+$0.00</h5>
            </div>
        </div>

        <div class="svg-wrapper">
            <svg id="main-line"></svg>
            <svg id="chord-diagram"></svg>
            <svg id="bar-svg"></svg>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/js.cookie.js"></script>
        <script src="/js/demo.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="/js/d3/main.js"></script>
        <script src="/js/d3/chord.js"></script>
        <script src="/js/d3/bars.js"></script>
    </body>
</html>
